
nav {
  border-bottom: 1px solid var(--gray, #eee);

  & .lock {
    display: flex;
    align-items: center;
    padding-right: 0;

    & > a {
      width: 40px;
      height: 40px;
    }

  }

  & .lock > div {
    margin-left: auto;
    display: flex;
  }

  & .lock > div a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    position: relative;
    display: block;

    @media (min-width: 768px) {
      padding: 15px;
      margin-left: 10px;
    }

    &:first-of-type {
      margin-left: auto;
    }

    &:hover {
      background-color: var(--gray, #eee);
      transition: background .3s;

      &.active:after {
        border-bottom: 10px solid white;
      }

    }

    &.active:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      height: 0;
      width: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 10px solid var(--gray, #eee);
    }

  }

}
